{{ range $index, $action := .Actions }}
  <article>
    <div class="flex gap-4 items-center mb-4">
      <div class="text-field mr-auto w-full">
        <label for="Action-{{ $action.Type }}-{{ $index }}">
          Nom
        </label>
        <input
          type="text"
          name="{{ $action.Type }}.{{ $index }}.Name"
          id="Action-{{ $action.Type }}-{{ $index }}"
          hx-post="/"
          hx-trigger="input"
          hx-target="#oui"
          hx-swap="innerHTML"
          placeholder=" "
          class="w-full"
          value="{{ $action.Name }}"
        >
      </div>
      <button
        class="btn btn-outlined flex gap-2 items-center transition-transform hover:scale-105"
        hx-delete="/monster/actions/new"
        hx-target="closest article"
        hx-swap="outerHTML"
      >
        <span class="material-symbols-outlined">
          delete
        </span>
        <p>Supprimer</p>
      </button>
    </div>
    <div class="text-field mb-4">
      <label for="Description-{{ $action.Type }}-{{ $index }}">
        Description
      </label>
      <textarea
        name="{{ $action.Type }}.{{ $index }}.Description"
        id="Description-{{ $action.Type }}-{{ $index }}"
        hx-post="/"
        hx-trigger="input"
        hx-target="#oui"
        hx-swap="innerHTML"
        placeholder=" "
        class="w-full"
        rows="8"
      >{{ $action.Description }}</textarea>
    </div>
  </article>
{{ end }}
<button
  class="btn btn-filled flex"
  hx-get="/monster/actions/new/{{ .next }}/{{ .type }}"
  hx-swap="outerHTML"
>
  <span class="material-symbols-outlined">
    add
  </span>
  <p>Ajouter une action</p>
</button>